[submodule "submodules/CommandLineCore"]
	path = submodules/CommandLineCore
	url = git@github.com:sleifer/CommandLineCore.git
[submodule "submodules/YamlSwift"]
	path = submodules/YamlSwift
	url = git@github.com:sleifer/YamlSwift.git
[submodule "submodules/ProjectWalker"]
	path = submodules/ProjectWalker
	url = git@github.com:sleifer/ProjectWalker.git
